<mat-toolbar>Contatos</mat-toolbar>
<form [formGroup]="formulario" (ngSubmit)="submit()">
    <mat-form-field class="full-width">
        <mat-label>Nome: </mat-label>
        <input formControlName="nome" matInput placeholder="Digite seu nome"/>
        
    </mat-form-field>
    <br/>
    <div *ngIf="this.formulario.get('nome')?.errors">
        <div *ngIf="this.formulario.get('nome')?.errors?.['required']" >
            Campo nome é obrigatório.
        </div>
    </div>

    <mat-form-field class="full-width">
        <mat-label>Email: </mat-label>
        <input formControlName="email" matInput placeholder="Digite seu email"/>
    </mat-form-field>
    <br/>
    <div *ngIf="this.formulario.get('email')?.errors">
            <div *ngIf="this.formulario.get('email')?.errors?.['email']" >
                 Email inválido
             </div>
             <div *ngIf="this.formulario.get('email')?.errors?.['required']" >
                  Campo email é obrigatório.
             </div>
        </div>
    <button mat-button color="primary">Adicionar</button>

</form>